#student-menu {
    right: 0;
    width: auto;
    display: none;
}

#editor {
    height: 400px;
}

#answer {
    padding: 4px;
    border: 2px solid black;
    min-height: 100px;
    resize: none;
}
