:root {
    --iconSize: 36px;

    /* Colors used in the dark theme */
    --themeDarkCollapseIcon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --themeDarkFormBorderColor: rgb(250, 250, 250);
    --themeDarkFormFieldBGColor: rgb(255, 255, 255);
    --themeDarkFormTextColor: rgb(150, 150, 150);
    --themeDarkTextColor: rgb(255, 255, 255);
    --themeDarkHeaderBGColor: rgb(35, 35, 35);
    --themeDarkButtonBGColor: rgb(35, 35, 35);
    --themeDarkButtonBorderColor: rgb(180, 180, 180);
    --themeDarkButtonHoverColor: rgb(70, 70, 70);
    --themeDarkFooterBGColor: rgb(35, 35, 35);
    --themeDarkBGColor: rgb(25, 25, 25);
    --themeDarkCollapsibleBGColor: rgb(55, 55, 55);
    --themeDarkCollapsibleHoverColor: rgb(70, 70, 70);
    --themeDarkCollapsibleContentColor: rgb(70, 70, 70);
    --themeDarkCardBDColor: rgb(35, 35, 35);

    /* Colors used in the light theme */
    --themeLightCollapseIcon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --themeLightFormBorderColor: rgb(50, 50, 50);
    --themeLightFormFieldBGColor: rgb(20, 20, 20);
    --themeLightFormTextColor: rgb(130, 130, 130);
    --themeLightTextColor: rgb(0, 0, 0);
    --themeLightHeaderBGColor: rgb(255, 255, 255);
    --themeLightButtonBGColor: rgb(255, 255, 255);
    --themeLightButtonBorderColor: rgb(180, 180, 180);
    --themeLightButtonHoverColor: rgb(230, 230, 230);
    --themeLightFooterBGColor: rgb(255, 255, 255);
    --themeLightBGColor: rgb(245, 245, 245);
    --themeLightCollapsibleBGColor: rgb(215, 215, 215);
    --themeLightCollapsibleHoverColor: rgb(190, 190, 190);
    --themeLightCollapsibleContentColor: rgb(190, 190, 190);
    --themeLightCardBDColor: rgb(255, 255, 255);

    /* Colors of the active active theme, initially light */
    --invertIconColor: 0;
    --themeActiveCollapseIcon: var(--themeLightCollapseIcon);
    --themeActiveFormBorderColor: var(--themeLightFormBorderColor);
    --themeActiveFormFieldBGColor: var(--themeLightFormFieldBGColor);
    --themeActiveFormTextColor: var(--themeLightFormTextColor);
    --themeActiveTextColor: var(--themeLightTextColor);
    --themeActiveButtonBGColor: var(--themeLightButtonBGColor);
    --themeActiveHeaderBGColor: var(--themeLightHeaderBGColor);
    --themeActiveButtonBorderColor: var(--themeLightButtonBorderColor);
    --themeActiveButtonHoverColor: var(--themeLightButtonHoverColor);
    --themeActiveFooterBGColor: var(--themeLightFooterBGColor);
    --themeActiveBGColor: var(--themeLightBGColor);
    --themeActiveCollapsibleBGColor: var(--themeLightCollapsibleBGColor);
    --themeActiveCollapsibleHoverColor: var(--themeLightCollapsibleHoverColor);
    --themeActiveCollapsibleContentColor: var(--themeLightCollapsibleContentColor);
    --themeActiveCardBDColor: var(--themeLightCardBDColor);
}

.dark-theme {
    /* Change the theme to black */
    --invertIconColor: 1;
    --themeActiveCollapseIcon: var(--themeDarkCollapseIcon);
    --themeActiveFormBorderColor: var(--themeDarkFormBorderColor);
    --themeActiveFormFieldBGColor: var(--themeDarkFormFieldBGColor);
    --themeActiveFormTextColor: var(--themeDarkFormTextColor);
    --themeActiveTextColor: var(--themeDarkTextColor);
    --themeActiveButtonBGColor: var(--themeDarkButtonBGColor);
    --themeActiveHeaderBGColor: var(--themeDarkHeaderBGColor);
    --themeActiveButtonBorderColor: var(--themeDarkButtonBorderColor);
    --themeActiveButtonHoverColor: var(--themeDarkButtonHoverColor);
    --themeActiveFooterBGColor: var(--themeDarkFooterBGColor);
    --themeActiveBGColor: var(--themeDarkBGColor);
    --themeActiveCollapsibleBGColor: var(--themeDarkCollapsibleBGColor);
    --themeActiveCollapsibleHoverColor: var(--themeDarkCollapsibleHoverColor);
    --themeActiveCollapsibleContentColor: var(--themeDarkCollapsibleContentColor);
    --themeActiveCardBDColor: var(--themeDarkCardBDColor);
}

/*** Style of generic elements ***/
/* Body style */
body {
    color: var(--themeActiveTextColor);
    background-color: var(--themeActiveBGColor) !important;
}

/* Basic items style */


.icon {
    -webkit-filter: invert(calc(var(--invertIconColor) * 100%));
    filter: invert(calc(var(--invertIconColor) * 100%));
    cursor: pointer;
    height: var(--iconSize);
}

/* Header style */
header {
    margin-bottom: 30px;
    background: var(--themeActiveHeaderBGColor);
}

.nav-item {
    padding: 2px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
}

.nav-link, .btn{
    background-color: var(--themeActiveButtonBGColor);
    color: var(--themeActiveTextColor);
    border: 1px solid var(--themeActiveButtonBorderColor);
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

.nav-link {
    width: 100%;
}

.nav-link:hover, .btn:hover {
    background-color: var(--themeActiveButtonHoverColor);
    color: var(--themeActiveTextColor);
    border: 1px solid var(--themeActiveButtonBorderColor);
}

.navbar-toggler {
    margin-right: auto;
}

.navbar-toggler-icon {
    background-image: var(--themeActiveCollapseIcon);
}

#logo {
    height: 48px;
}

/* Toggle style */
.dark-mode-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#toggle-dark-mode {
    display: none;
}

.label-dark-mode {
    user-select: none;
    display: block;
    width: 80px;
    height: 31px;
    border: 2px solid var(--themeActiveButtonBorderColor);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    align-self: center;
}

.label-dark-mode:hover {
    background-color: var(--themeActiveButtonHoverColor);
}

#toggle-ball {
    position: absolute;
    top: 50%;transform: translateY(-50%);
}

#toggle-ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--themeActiveTextColor);
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

#toggle-dark-mode:checked + #toggle-ball {
    transform: translate(49px, -50%);
}

/* Footer style */
footer {
    color: var(--themeActiveTextColor);
    background: var(--themeActiveFooterBGColor);
}

/* Plus sign inserted before the element */
.add-object::before {
    content: '';
    background: url("/View/images/plus.png");
    background-size: cover;
    width: calc(var(--iconSize) - 20px);
    height: calc(var(--iconSize) - 20px);
    display: inline-block;
    vertical-align: middle;
    -webkit-filter: invert(calc(var(--invertIconColor) * 100%));
    filter: invert(calc(var(--invertIconColor) * 100%));
}

/* Modal style */
.modal-content {
    background-color: var(--themeActiveBGColor);
    color: var(--themeActiveTextColor);
    border-radius: 13px;
}

/*** Content style ***/
/* Content Header Style */
.content-header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Collapsible style */
.collapsible {
    border-radius: 10px;
    background-color: var(--themeActiveCollapsibleBGColor);
    color: var(--themeActiveTextColor);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.active, .collapsible:hover {
    background-color:  var(--themeActiveCollapsibleHoverColor);
}

.content {
    margin-top: -18px;
    margin-bottom: 10px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:  var(--themeActiveCollapsibleContentColor);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Dropdown menu style */
.dropdown-menu {
    top: 57px;
    text-align: -webkit-center;
    padding: 0.5rem;
    position: absolute !important;
    color: var(--themeActiveTextColor) !important;
    background-color: var(--themeActiveHeaderBGColor);
}

.dropdown-item {
    margin: 0;
}

/* Card style */
.card {
    z-index: 0;
    border: none;
    border-radius: 10px;
    background-color: var(--themeActiveCardBDColor);
}

#login .container #login-row #login-column #login-box {
    margin-top: 80px;
    margin-bottom: 100px;
    max-width: 660px;
    height: 360px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.hide {
    display: none
}

#save {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 2px;
    margin-left: 4px;
    /*display: none;*/
    cursor: pointer;
}

.modal-footer {
    display: block;

}

.ur {
    border: none;
    background-color: #e6e2e2;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.cpy {
    border: none;
    background-color: #e6e2e2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ur.focus,
.ur:focus {
    outline: 0;
    box-shadow: none !important
}

.message {
    font-size: 11px;
    color: #ee5535
}

.modal-title {
    font-weight: 900
}

/*###########################################################################################*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

/*Borrrar ######################################*/
#close {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    color: #000000;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
}

#close:focus {
    outline: solid 0 transparent;
    box-shadow: 0 0 0 2px #8ed0f9
}

#close:hover {
    background: rgba(29, 161, 142, .1)
}

#close:before, #close:after {
    position: absolute;
    top: 15%;
    left: calc(50% - .0625em);
    width: .125em;
    height: 70%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
}

#close:after {
    transform: rotate(-45deg);
}